[submodule "dependencies/cosmos-sdk"]
	path = dependencies/cosmos-sdk
	url = https://github.com/osmosis-labs/cosmos-sdk.git
	branch = v13.x
[submodule "dependencies/osmosis"]
	path = dependencies/osmosis
	url = https://github.com/osmosis-labs/osmosis.git
	branch = v13.x
[submodule "wasmd"]
	path = dependencies/wasmd
	url = https://github.com/CosmWasm/wasmd.git
[submodule "dependencies/cometbft"]
	path = dependencies/cometbft
	url = https://github.com/cometbft/cometbft.git
[submodule "dependencies/ibc-go"]
	path = dependencies/ibc-go
	url = https://github.com/cosmos/ibc-go.git
[submodule "dependencies/wasmd"]
	url = https://github.com/osmosis-labs/wasmd.git
[submodule "dependencies/ics23"]
	path = dependencies/ics23
	url = https://github.com/cosmos/ics23.git
