[package]
description = "Procedural macro for osmosis-std"
edition = "2021"
license = "MIT OR Apache-2.0"
name = "osmosis-std-derive"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.40"
quote = "1.0.20"
syn = "1.0.98"

[dev-dependencies]
cosmwasm-std = {version = "1.0.0", features = ["stargate"]}
prost = "0.10.4"
trybuild = {version = "1.0.63", features = ["diff"]}
